<h1>Show Order</h1>

<ul>

  <li>
    <strong>Type:</strong>
    <%= @order.type %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @order.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.order_path(@conn, :edit, @order) %></span>
<span><%= link "Back", to: Routes.order_path(@conn, :index) %></span>
